script(src='libs/jquery/dist/jquery.min.js')
script(src='libs/jquery-ui-1.12.1/jquery-ui.min.js')
script(src='js/main.js')
script(src='libs/slick/slick.min.js')
script(src='libs/moment/min/moment-with-locales.min.js')
script(src='libs/moment-timezone/moment-timezone.js')
script(src='libs/moment/global.js')
script(src='libs/ResponsiveTables/ng_responsive_tables.js')
script(src='libs/clipboard.js/clipboard.min.js')
script(src='libs/bootstrap-sweetalert/sweetalert.min.js')
script(src='libs/aos/aos.js')
script(src='libs/liMarquee/jquery.liMarquee.js')
script(src='libs/jQueryFormStyler/jquery.formstyler.min.js')
script(src='libs/magnific-popup/jquery.magnific-popup.min.js')
script(src='libs/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
script(src='libs/jquery-circle-progress/circle-progress.min.js')
script(src='libs/circliful/jquery.circliful.min.js')
script(src='libs/jquery.nicescroll/jquery.nicescroll.min.js')
script(src='js/common.js')