// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a1-name: 'a1';
$a1-x: 369px;
$a1-y: 0px;
$a1-offset-x: -369px;
$a1-offset-y: 0px;
$a1-width: 96px;
$a1-height: 102px;
$a1-total-width: 571px;
$a1-total-height: 526px;
$a1-image: '../img/sprite.png';
$a1: (369px, 0px, -369px, 0px, 96px, 102px, 571px, 526px, '../img/sprite.png', 'a1', );
$a2-name: 'a2';
$a2-x: 123px;
$a2-y: 203px;
$a2-offset-x: -123px;
$a2-offset-y: -203px;
$a2-width: 112px;
$a2-height: 99px;
$a2-total-width: 571px;
$a2-total-height: 526px;
$a2-image: '../img/sprite.png';
$a2: (123px, 203px, -123px, -203px, 112px, 99px, 571px, 526px, '../img/sprite.png', 'a2', );
$a3-name: 'a3';
$a3-x: 240px;
$a3-y: 203px;
$a3-offset-x: -240px;
$a3-offset-y: -203px;
$a3-width: 102px;
$a3-height: 89px;
$a3-total-width: 571px;
$a3-total-height: 526px;
$a3-image: '../img/sprite.png';
$a3: (240px, 203px, -240px, -203px, 102px, 89px, 571px, 526px, '../img/sprite.png', 'a3', );
$a4-name: 'a4';
$a4-x: 369px;
$a4-y: 107px;
$a4-offset-x: -369px;
$a4-offset-y: -107px;
$a4-width: 96px;
$a4-height: 96px;
$a4-total-width: 571px;
$a4-total-height: 526px;
$a4-image: '../img/sprite.png';
$a4: (369px, 107px, -369px, -107px, 96px, 96px, 571px, 526px, '../img/sprite.png', 'a4', );
$ab1-name: 'ab1';
$ab1-x: 470px;
$ab1-y: 387px;
$ab1-offset-x: -470px;
$ab1-offset-y: -387px;
$ab1-width: 43px;
$ab1-height: 43px;
$ab1-total-width: 571px;
$ab1-total-height: 526px;
$ab1-image: '../img/sprite.png';
$ab1: (470px, 387px, -470px, -387px, 43px, 43px, 571px, 526px, '../img/sprite.png', 'ab1', );
$ab2-name: 'ab2';
$ab2-x: 470px;
$ab2-y: 339px;
$ab2-offset-x: -470px;
$ab2-offset-y: -339px;
$ab2-width: 47px;
$ab2-height: 43px;
$ab2-total-width: 571px;
$ab2-total-height: 526px;
$ab2-image: '../img/sprite.png';
$ab2: (470px, 339px, -470px, -339px, 47px, 43px, 571px, 526px, '../img/sprite.png', 'ab2', );
$ab3-name: 'ab3';
$ab3-x: 0px;
$ab3-y: 487px;
$ab3-offset-x: 0px;
$ab3-offset-y: -487px;
$ab3-width: 42px;
$ab3-height: 39px;
$ab3-total-width: 571px;
$ab3-total-height: 526px;
$ab3-image: '../img/sprite.png';
$ab3: (0px, 487px, 0px, -487px, 42px, 39px, 571px, 526px, '../img/sprite.png', 'ab3', );
$ab4-name: 'ab4';
$ab4-x: 81px;
$ab4-y: 444px;
$ab4-offset-x: -81px;
$ab4-offset-y: -444px;
$ab4-width: 41px;
$ab4-height: 34px;
$ab4-total-width: 571px;
$ab4-total-height: 526px;
$ab4-image: '../img/sprite.png';
$ab4: (81px, 444px, -81px, -444px, 41px, 34px, 571px, 526px, '../img/sprite.png', 'ab4', );
$ab5-name: 'ab5';
$ab5-x: 536px;
$ab5-y: 0px;
$ab5-offset-x: -536px;
$ab5-offset-y: 0px;
$ab5-width: 35px;
$ab5-height: 43px;
$ab5-total-width: 571px;
$ab5-total-height: 526px;
$ab5-image: '../img/sprite.png';
$ab5: (536px, 0px, -536px, 0px, 35px, 43px, 571px, 526px, '../img/sprite.png', 'ab5', );
$ab6-name: 'ab6';
$ab6-x: 470px;
$ab6-y: 180px;
$ab6-offset-x: -470px;
$ab6-offset-y: -180px;
$ab6-width: 45px;
$ab6-height: 51px;
$ab6-total-width: 571px;
$ab6-total-height: 526px;
$ab6-image: '../img/sprite.png';
$ab6: (470px, 180px, -470px, -180px, 45px, 51px, 571px, 526px, '../img/sprite.png', 'ab6', );
$arrow-d-b-o-name: 'arrow-d-b-o';
$arrow-d-b-o-x: 188px;
$arrow-d-b-o-y: 444px;
$arrow-d-b-o-offset-x: -188px;
$arrow-d-b-o-offset-y: -444px;
$arrow-d-b-o-width: 14px;
$arrow-d-b-o-height: 9px;
$arrow-d-b-o-total-width: 571px;
$arrow-d-b-o-total-height: 526px;
$arrow-d-b-o-image: '../img/sprite.png';
$arrow-d-b-o: (188px, 444px, -188px, -444px, 14px, 9px, 571px, 526px, '../img/sprite.png', 'arrow-d-b-o', );
$arrow-d-b-name: 'arrow-d-b';
$arrow-d-b-x: 520px;
$arrow-d-b-y: 223px;
$arrow-d-b-offset-x: -520px;
$arrow-d-b-offset-y: -223px;
$arrow-d-b-width: 9px;
$arrow-d-b-height: 5px;
$arrow-d-b-total-width: 571px;
$arrow-d-b-total-height: 526px;
$arrow-d-b-image: '../img/sprite.png';
$arrow-d-b: (520px, 223px, -520px, -223px, 9px, 5px, 571px, 526px, '../img/sprite.png', 'arrow-d-b', );
$arrow-d-g-name: 'arrow-d-g';
$arrow-d-g-x: 520px;
$arrow-d-g-y: 203px;
$arrow-d-g-offset-x: -520px;
$arrow-d-g-offset-y: -203px;
$arrow-d-g-width: 11px;
$arrow-d-g-height: 15px;
$arrow-d-g-total-width: 571px;
$arrow-d-g-total-height: 526px;
$arrow-d-g-image: '../img/sprite.png';
$arrow-d-g: (520px, 203px, -520px, -203px, 11px, 15px, 571px, 526px, '../img/sprite.png', 'arrow-d-g', );
$bar-w-name: 'bar-w';
$bar-w-x: 127px;
$bar-w-y: 444px;
$bar-w-offset-x: -127px;
$bar-w-offset-y: -444px;
$bar-w-width: 21px;
$bar-w-height: 21px;
$bar-w-total-width: 571px;
$bar-w-total-height: 526px;
$bar-w-image: '../img/sprite.png';
$bar-w: (127px, 444px, -127px, -444px, 21px, 21px, 571px, 526px, '../img/sprite.png', 'bar-w', );
$btc-w-name: 'btc-w';
$btc-w-x: 227px;
$btc-w-y: 368px;
$btc-w-offset-x: -227px;
$btc-w-offset-y: -368px;
$btc-w-width: 104px;
$btc-w-height: 22px;
$btc-w-total-width: 571px;
$btc-w-total-height: 526px;
$btc-w-image: '../img/sprite.png';
$btc-w: (227px, 368px, -227px, -368px, 104px, 22px, 571px, 526px, '../img/sprite.png', 'btc-w', );
$btc-name: 'btc';
$btc-x: 336px;
$btc-y: 368px;
$btc-offset-x: -336px;
$btc-offset-y: -368px;
$btc-width: 104px;
$btc-height: 22px;
$btc-total-width: 571px;
$btc-total-height: 526px;
$btc-image: '../img/sprite.png';
$btc: (336px, 368px, -336px, -368px, 104px, 22px, 571px, 526px, '../img/sprite.png', 'btc', );
$btc30-name: 'btc30';
$btc30-x: 536px;
$btc30-y: 84px;
$btc30-offset-x: -536px;
$btc30-offset-y: -84px;
$btc30-width: 29px;
$btc30-height: 29px;
$btc30-total-width: 571px;
$btc30-total-height: 526px;
$btc30-image: '../img/sprite.png';
$btc30: (536px, 84px, -536px, -84px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'btc30', );
$clock-b-o-name: 'clock-b-o';
$clock-b-o-x: 470px;
$clock-b-o-y: 127px;
$clock-b-o-offset-x: -470px;
$clock-b-o-offset-y: -127px;
$clock-b-o-width: 48px;
$clock-b-o-height: 48px;
$clock-b-o-total-width: 571px;
$clock-b-o-total-height: 526px;
$clock-b-o-image: '../img/sprite.png';
$clock-b-o: (470px, 127px, -470px, -127px, 48px, 48px, 571px, 526px, '../img/sprite.png', 'clock-b-o', );
$clock-o-ss-name: 'clock-o-ss';
$clock-o-ss-x: 347px;
$clock-o-ss-y: 274px;
$clock-o-ss-offset-x: -347px;
$clock-o-ss-offset-y: -274px;
$clock-o-ss-width: 16px;
$clock-o-ss-height: 16px;
$clock-o-ss-total-width: 571px;
$clock-o-ss-total-height: 526px;
$clock-o-ss-image: '../img/sprite.png';
$clock-o-ss: (347px, 274px, -347px, -274px, 16px, 16px, 571px, 526px, '../img/sprite.png', 'clock-o-ss', );
$clock-o-name: 'clock-o';
$clock-o-x: 518px;
$clock-o-y: 407px;
$clock-o-offset-x: -518px;
$clock-o-offset-y: -407px;
$clock-o-width: 13px;
$clock-o-height: 13px;
$clock-o-total-width: 571px;
$clock-o-total-height: 526px;
$clock-o-image: '../img/sprite.png';
$clock-o: (518px, 407px, -518px, -407px, 13px, 13px, 571px, 526px, '../img/sprite.png', 'clock-o', );
$clock-w-name: 'clock-w';
$clock-w-x: 153px;
$clock-w-y: 444px;
$clock-w-offset-x: -153px;
$clock-w-offset-y: -444px;
$clock-w-width: 13px;
$clock-w-height: 13px;
$clock-w-total-width: 571px;
$clock-w-total-height: 526px;
$clock-w-image: '../img/sprite.png';
$clock-w: (153px, 444px, -153px, -444px, 13px, 13px, 571px, 526px, '../img/sprite.png', 'clock-w', );
$cloud-i-o-name: 'cloud-i-o';
$cloud-i-o-x: 347px;
$cloud-i-o-y: 253px;
$cloud-i-o-offset-x: -347px;
$cloud-i-o-offset-y: -253px;
$cloud-i-o-width: 17px;
$cloud-i-o-height: 16px;
$cloud-i-o-total-width: 571px;
$cloud-i-o-total-height: 526px;
$cloud-i-o-image: '../img/sprite.png';
$cloud-i-o: (347px, 253px, -347px, -253px, 17px, 16px, 571px, 526px, '../img/sprite.png', 'cloud-i-o', );
$cm1-name: 'cm1';
$cm1-x: 174px;
$cm1-y: 344px;
$cm1-offset-x: -174px;
$cm1-offset-y: -344px;
$cm1-width: 19px;
$cm1-height: 18px;
$cm1-total-width: 571px;
$cm1-total-height: 526px;
$cm1-image: '../img/sprite.png';
$cm1: (174px, 344px, -174px, -344px, 19px, 18px, 571px, 526px, '../img/sprite.png', 'cm1', );
$cm2-name: 'cm2';
$cm2-x: 437px;
$cm2-y: 274px;
$cm2-offset-x: -437px;
$cm2-offset-y: -274px;
$cm2-width: 23px;
$cm2-height: 23px;
$cm2-total-width: 571px;
$cm2-total-height: 526px;
$cm2-image: '../img/sprite.png';
$cm2: (437px, 274px, -437px, -274px, 23px, 23px, 571px, 526px, '../img/sprite.png', 'cm2', );
$cm3-name: 'cm3';
$cm3-x: 347px;
$cm3-y: 231px;
$cm3-offset-x: -347px;
$cm3-offset-y: -231px;
$cm3-width: 17px;
$cm3-height: 17px;
$cm3-total-width: 571px;
$cm3-total-height: 526px;
$cm3-image: '../img/sprite.png';
$cm3: (347px, 231px, -347px, -231px, 17px, 17px, 571px, 526px, '../img/sprite.png', 'cm3', );
$cm4-name: 'cm4';
$cm4-x: 441px;
$cm4-y: 238px;
$cm4-offset-x: -441px;
$cm4-offset-y: -238px;
$cm4-width: 23px;
$cm4-height: 24px;
$cm4-total-width: 571px;
$cm4-total-height: 526px;
$cm4-image: '../img/sprite.png';
$cm4: (441px, 238px, -441px, -238px, 23px, 24px, 571px, 526px, '../img/sprite.png', 'cm4', );
$cm5-name: 'cm5';
$cm5-x: 149px;
$cm5-y: 344px;
$cm5-offset-x: -149px;
$cm5-offset-y: -344px;
$cm5-width: 20px;
$cm5-height: 18px;
$cm5-total-width: 571px;
$cm5-total-height: 526px;
$cm5-image: '../img/sprite.png';
$cm5: (149px, 344px, -149px, -344px, 20px, 18px, 571px, 526px, '../img/sprite.png', 'cm5', );
$cm6-name: 'cm6';
$cm6-x: 123px;
$cm6-y: 344px;
$cm6-offset-x: -123px;
$cm6-offset-y: -344px;
$cm6-width: 21px;
$cm6-height: 18px;
$cm6-total-width: 571px;
$cm6-total-height: 526px;
$cm6-image: '../img/sprite.png';
$cm6: (123px, 344px, -123px, -344px, 21px, 18px, 571px, 526px, '../img/sprite.png', 'cm6', );
$cm7-name: 'cm7';
$cm7-x: 198px;
$cm7-y: 344px;
$cm7-offset-x: -198px;
$cm7-offset-y: -344px;
$cm7-width: 18px;
$cm7-height: 18px;
$cm7-total-width: 571px;
$cm7-total-height: 526px;
$cm7-image: '../img/sprite.png';
$cm7: (198px, 344px, -198px, -344px, 18px, 18px, 571px, 526px, '../img/sprite.png', 'cm7', );
$cm8-name: 'cm8';
$cm8-x: 350px;
$cm8-y: 307px;
$cm8-offset-x: -350px;
$cm8-offset-y: -307px;
$cm8-width: 14px;
$cm8-height: 17px;
$cm8-total-width: 571px;
$cm8-total-height: 526px;
$cm8-image: '../img/sprite.png';
$cm8: (350px, 307px, -350px, -307px, 14px, 17px, 571px, 526px, '../img/sprite.png', 'cm8', );
$dash-w-name: 'dash-w';
$dash-w-x: 246px;
$dash-w-y: 405px;
$dash-w-offset-x: -246px;
$dash-w-offset-y: -405px;
$dash-w-width: 81px;
$dash-w-height: 21px;
$dash-w-total-width: 571px;
$dash-w-total-height: 526px;
$dash-w-image: '../img/sprite.png';
$dash-w: (246px, 405px, -246px, -405px, 81px, 21px, 571px, 526px, '../img/sprite.png', 'dash-w', );
$dash-name: 'dash';
$dash-x: 332px;
$dash-y: 405px;
$dash-offset-x: -332px;
$dash-offset-y: -405px;
$dash-width: 79px;
$dash-height: 20px;
$dash-total-width: 571px;
$dash-total-height: 526px;
$dash-image: '../img/sprite.png';
$dash: (332px, 405px, -332px, -405px, 79px, 20px, 571px, 526px, '../img/sprite.png', 'dash', );
$dash2-name: 'dash2';
$dash2-x: 369px;
$dash2-y: 341px;
$dash2-offset-x: -369px;
$dash2-offset-y: -341px;
$dash2-width: 81px;
$dash2-height: 21px;
$dash2-total-width: 571px;
$dash2-total-height: 526px;
$dash2-image: '../img/sprite.png';
$dash2: (369px, 341px, -369px, -341px, 81px, 21px, 571px, 526px, '../img/sprite.png', 'dash2', );
$dash30-name: 'dash30';
$dash30-x: 536px;
$dash30-y: 322px;
$dash30-offset-x: -536px;
$dash30-offset-y: -322px;
$dash30-width: 29px;
$dash30-height: 29px;
$dash30-total-width: 571px;
$dash30-total-height: 526px;
$dash30-image: '../img/sprite.png';
$dash30: (536px, 322px, -536px, -322px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'dash30', );
$email-i-o-name: 'email-i-o';
$email-i-o-x: 416px;
$email-i-o-y: 405px;
$email-i-o-offset-x: -416px;
$email-i-o-offset-y: -405px;
$email-i-o-width: 16px;
$email-i-o-height: 12px;
$email-i-o-total-width: 571px;
$email-i-o-total-height: 526px;
$email-i-o-image: '../img/sprite.png';
$email-i-o: (416px, 405px, -416px, -405px, 16px, 12px, 571px, 526px, '../img/sprite.png', 'email-i-o', );
$email-o-name: 'email-o';
$email-o-x: 330px;
$email-o-y: 344px;
$email-o-offset-x: -330px;
$email-o-offset-y: -344px;
$email-o-width: 16px;
$email-o-height: 12px;
$email-o-total-width: 571px;
$email-o-total-height: 526px;
$email-o-image: '../img/sprite.png';
$email-o: (330px, 344px, -330px, -344px, 16px, 12px, 571px, 526px, '../img/sprite.png', 'email-o', );
$email-w-name: 'email-w';
$email-w-x: 437px;
$email-w-y: 405px;
$email-w-offset-x: -437px;
$email-w-offset-y: -405px;
$email-w-width: 15px;
$email-w-height: 10px;
$email-w-total-width: 571px;
$email-w-total-height: 526px;
$email-w-image: '../img/sprite.png';
$email-w: (437px, 405px, -437px, -405px, 15px, 10px, 571px, 526px, '../img/sprite.png', 'email-w', );
$eth-w-name: 'eth-w';
$eth-w-x: 0px;
$eth-w-y: 368px;
$eth-w-offset-x: 0px;
$eth-w-offset-y: -368px;
$eth-w-width: 129px;
$eth-w-height: 32px;
$eth-w-total-width: 571px;
$eth-w-total-height: 526px;
$eth-w-image: '../img/sprite.png';
$eth-w: (0px, 368px, 0px, -368px, 129px, 32px, 571px, 526px, '../img/sprite.png', 'eth-w', );
$eth-name: 'eth';
$eth-x: 123px;
$eth-y: 307px;
$eth-offset-x: -123px;
$eth-offset-y: -307px;
$eth-width: 129px;
$eth-height: 32px;
$eth-total-width: 571px;
$eth-total-height: 526px;
$eth-image: '../img/sprite.png';
$eth: (123px, 307px, -123px, -307px, 129px, 32px, 571px, 526px, '../img/sprite.png', 'eth', );
$eth30-name: 'eth30';
$eth30-x: 536px;
$eth30-y: 152px;
$eth30-offset-x: -536px;
$eth30-offset-y: -152px;
$eth30-width: 29px;
$eth30-height: 29px;
$eth30-total-width: 571px;
$eth30-total-height: 526px;
$eth30-image: '../img/sprite.png';
$eth30: (536px, 152px, -536px, -152px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'eth30', );
$exit-o-name: 'exit-o';
$exit-o-x: 171px;
$exit-o-y: 444px;
$exit-o-offset-x: -171px;
$exit-o-offset-y: -444px;
$exit-o-width: 12px;
$exit-o-height: 12px;
$exit-o-total-width: 571px;
$exit-o-total-height: 526px;
$exit-o-image: '../img/sprite.png';
$exit-o: (171px, 444px, -171px, -444px, 12px, 12px, 571px, 526px, '../img/sprite.png', 'exit-o', );
$folder-i-o-name: 'folder-i-o';
$folder-i-o-x: 268px;
$folder-i-o-y: 344px;
$folder-i-o-offset-x: -268px;
$folder-i-o-offset-y: -344px;
$folder-i-o-width: 17px;
$folder-i-o-height: 15px;
$folder-i-o-total-width: 571px;
$folder-i-o-total-height: 526px;
$folder-i-o-image: '../img/sprite.png';
$folder-i-o: (268px, 344px, -268px, -344px, 17px, 15px, 571px, 526px, '../img/sprite.png', 'folder-i-o', );
$gear-o-name: 'gear-o';
$gear-o-x: 351px;
$gear-o-y: 344px;
$gear-o-offset-x: -351px;
$gear-o-offset-y: -344px;
$gear-o-width: 12px;
$gear-o-height: 12px;
$gear-o-total-width: 571px;
$gear-o-total-height: 526px;
$gear-o-image: '../img/sprite.png';
$gear-o: (351px, 344px, -351px, -344px, 12px, 12px, 571px, 526px, '../img/sprite.png', 'gear-o', );
$hand-b-o-name: 'hand-b-o';
$hand-b-o-x: 470px;
$hand-b-o-y: 236px;
$hand-b-o-offset-x: -470px;
$hand-b-o-offset-y: -236px;
$hand-b-o-width: 46px;
$hand-b-o-height: 48px;
$hand-b-o-total-width: 571px;
$hand-b-o-total-height: 526px;
$hand-b-o-image: '../img/sprite.png';
$hand-b-o: (470px, 236px, -470px, -236px, 46px, 48px, 571px, 526px, '../img/sprite.png', 'hand-b-o', );
$in1-name: 'in1';
$in1-x: 369px;
$in1-y: 274px;
$in1-offset-x: -369px;
$in1-offset-y: -274px;
$in1-width: 63px;
$in1-height: 62px;
$in1-total-width: 571px;
$in1-total-height: 526px;
$in1-image: '../img/sprite.png';
$in1: (369px, 274px, -369px, -274px, 63px, 62px, 571px, 526px, '../img/sprite.png', 'in1', );
$in2-name: 'in2';
$in2-x: 369px;
$in2-y: 208px;
$in2-offset-x: -369px;
$in2-offset-y: -208px;
$in2-width: 67px;
$in2-height: 61px;
$in2-total-width: 571px;
$in2-total-height: 526px;
$in2-image: '../img/sprite.png';
$in2: (369px, 208px, -369px, -208px, 67px, 61px, 571px, 526px, '../img/sprite.png', 'in2', );
$in3-name: 'in3';
$in3-x: 0px;
$in3-y: 444px;
$in3-offset-x: 0px;
$in3-offset-y: -444px;
$in3-width: 76px;
$in3-height: 38px;
$in3-total-width: 571px;
$in3-total-height: 526px;
$in3-image: '../img/sprite.png';
$in3: (0px, 444px, 0px, -444px, 76px, 38px, 571px, 526px, '../img/sprite.png', 'in3', );
$key-s-w-name: 'key-s-w';
$key-s-w-x: 445px;
$key-s-w-y: 368px;
$key-s-w-offset-x: -445px;
$key-s-w-offset-y: -368px;
$key-s-w-width: 14px;
$key-s-w-height: 17px;
$key-s-w-total-width: 571px;
$key-s-w-total-height: 526px;
$key-s-w-image: '../img/sprite.png';
$key-s-w: (445px, 368px, -445px, -368px, 14px, 17px, 571px, 526px, '../img/sprite.png', 'key-s-w', );
$keys-w-name: 'keys-w';
$keys-w-x: 47px;
$keys-w-y: 487px;
$keys-w-offset-x: -47px;
$keys-w-offset-y: -487px;
$keys-w-width: 19px;
$keys-w-height: 23px;
$keys-w-total-width: 571px;
$keys-w-total-height: 526px;
$keys-w-image: '../img/sprite.png';
$keys-w: (47px, 487px, -47px, -487px, 19px, 23px, 571px, 526px, '../img/sprite.png', 'keys-w', );
$ltc-w-name: 'ltc-w';
$ltc-w-x: 246px;
$ltc-w-y: 165px;
$ltc-w-offset-x: -246px;
$ltc-w-offset-y: -165px;
$ltc-w-width: 102px;
$ltc-w-height: 27px;
$ltc-w-total-width: 571px;
$ltc-w-total-height: 526px;
$ltc-w-image: '../img/sprite.png';
$ltc-w: (246px, 165px, -246px, -165px, 102px, 27px, 571px, 526px, '../img/sprite.png', 'ltc-w', );
$ltc-name: 'ltc';
$ltc-x: 123px;
$ltc-y: 165px;
$ltc-offset-x: -123px;
$ltc-offset-y: -165px;
$ltc-width: 102px;
$ltc-height: 27px;
$ltc-total-width: 571px;
$ltc-total-height: 526px;
$ltc-image: '../img/sprite.png';
$ltc: (123px, 165px, -123px, -165px, 102px, 27px, 571px, 526px, '../img/sprite.png', 'ltc', );
$ltc30-name: 'ltc30';
$ltc30-x: 536px;
$ltc30-y: 288px;
$ltc30-offset-x: -536px;
$ltc30-offset-y: -288px;
$ltc30-width: 29px;
$ltc30-height: 29px;
$ltc30-total-width: 571px;
$ltc30-total-height: 526px;
$ltc30-image: '../img/sprite.png';
$ltc30: (536px, 288px, -536px, -288px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'ltc30', );
$mark-o-name: 'mark-o';
$mark-o-x: 536px;
$mark-o-y: 356px;
$mark-o-offset-x: -536px;
$mark-o-offset-y: -356px;
$mark-o-width: 25px;
$mark-o-height: 33px;
$mark-o-total-width: 571px;
$mark-o-total-height: 526px;
$mark-o-image: '../img/sprite.png';
$mark-o: (536px, 356px, -536px, -356px, 25px, 33px, 571px, 526px, '../img/sprite.png', 'mark-o', );
$minus-o-name: 'minus-o';
$minus-o-x: 536px;
$minus-o-y: 427px;
$minus-o-offset-x: -536px;
$minus-o-offset-y: -427px;
$minus-o-width: 28px;
$minus-o-height: 28px;
$minus-o-total-width: 571px;
$minus-o-total-height: 526px;
$minus-o-image: '../img/sprite.png';
$minus-o: (536px, 427px, -536px, -427px, 28px, 28px, 571px, 526px, '../img/sprite.png', 'minus-o', );
$mobile-o-name: 'mobile-o';
$mobile-o-x: 520px;
$mobile-o-y: 180px;
$mobile-o-offset-x: -520px;
$mobile-o-offset-y: -180px;
$mobile-o-width: 10px;
$mobile-o-height: 18px;
$mobile-o-total-width: 571px;
$mobile-o-total-height: 526px;
$mobile-o-image: '../img/sprite.png';
$mobile-o: (520px, 180px, -520px, -180px, 10px, 18px, 571px, 526px, '../img/sprite.png', 'mobile-o', );
$money-b-o-name: 'money-b-o';
$money-b-o-x: 470px;
$money-b-o-y: 289px;
$money-b-o-offset-x: -470px;
$money-b-o-offset-y: -289px;
$money-b-o-width: 46px;
$money-b-o-height: 45px;
$money-b-o-total-width: 571px;
$money-b-o-total-height: 526px;
$money-b-o-image: '../img/sprite.png';
$money-b-o: (470px, 289px, -470px, -289px, 46px, 45px, 571px, 526px, '../img/sprite.png', 'money-b-o', );
$pay-w-name: 'pay-w';
$pay-w-x: 134px;
$pay-w-y: 368px;
$pay-w-offset-x: -134px;
$pay-w-offset-y: -368px;
$pay-w-width: 88px;
$pay-w-height: 28px;
$pay-w-total-width: 571px;
$pay-w-total-height: 526px;
$pay-w-image: '../img/sprite.png';
$pay-w: (134px, 368px, -134px, -368px, 88px, 28px, 571px, 526px, '../img/sprite.png', 'pay-w', );
$pay-name: 'pay';
$pay-x: 257px;
$pay-y: 307px;
$pay-offset-x: -257px;
$pay-offset-y: -307px;
$pay-width: 88px;
$pay-height: 28px;
$pay-total-width: 571px;
$pay-total-height: 526px;
$pay-image: '../img/sprite.png';
$pay: (257px, 307px, -257px, -307px, 88px, 28px, 571px, 526px, '../img/sprite.png', 'pay', );
$payeer30-name: 'payeer30';
$payeer30-x: 536px;
$payeer30-y: 220px;
$payeer30-offset-x: -536px;
$payeer30-offset-y: -220px;
$payeer30-width: 29px;
$payeer30-height: 29px;
$payeer30-total-width: 571px;
$payeer30-total-height: 526px;
$payeer30-image: '../img/sprite.png';
$payeer30: (536px, 220px, -536px, -220px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'payeer30', );
$phone-o-name: 'phone-o';
$phone-o-x: 347px;
$phone-o-y: 203px;
$phone-o-offset-x: -347px;
$phone-o-offset-y: -203px;
$phone-o-width: 14px;
$phone-o-height: 23px;
$phone-o-total-width: 571px;
$phone-o-total-height: 526px;
$phone-o-image: '../img/sprite.png';
$phone-o: (347px, 203px, -347px, -203px, 14px, 23px, 571px, 526px, '../img/sprite.png', 'phone-o', );
$phone-w-name: 'phone-w';
$phone-w-x: 311px;
$phone-w-y: 344px;
$phone-w-offset-x: -311px;
$phone-w-offset-y: -344px;
$phone-w-width: 14px;
$phone-w-height: 15px;
$phone-w-total-width: 571px;
$phone-w-total-height: 526px;
$phone-w-image: '../img/sprite.png';
$phone-w: (311px, 344px, -311px, -344px, 14px, 15px, 571px, 526px, '../img/sprite.png', 'phone-w', );
$play-w-name: 'play-w';
$play-w-x: 470px;
$play-w-y: 66px;
$play-w-offset-x: -470px;
$play-w-offset-y: -66px;
$play-w-width: 56px;
$play-w-height: 56px;
$play-w-total-width: 571px;
$play-w-total-height: 526px;
$play-w-image: '../img/sprite.png';
$play-w: (470px, 66px, -470px, -66px, 56px, 56px, 571px, 526px, '../img/sprite.png', 'play-w', );
$plus-o-name: 'plus-o';
$plus-o-x: 536px;
$plus-o-y: 118px;
$plus-o-offset-x: -536px;
$plus-o-offset-y: -118px;
$plus-o-width: 29px;
$plus-o-height: 29px;
$plus-o-total-width: 571px;
$plus-o-total-height: 526px;
$plus-o-image: '../img/sprite.png';
$plus-o: (536px, 118px, -536px, -118px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'plus-o', );
$pm-w-name: 'pm-w';
$pm-w-x: 123px;
$pm-w-y: 405px;
$pm-w-offset-x: -123px;
$pm-w-offset-y: -405px;
$pm-w-width: 118px;
$pm-w-height: 34px;
$pm-w-total-width: 571px;
$pm-w-total-height: 526px;
$pm-w-image: '../img/sprite.png';
$pm-w: (123px, 405px, -123px, -405px, 118px, 34px, 571px, 526px, '../img/sprite.png', 'pm-w', );
$pm-name: 'pm';
$pm-x: 0px;
$pm-y: 405px;
$pm-offset-x: 0px;
$pm-offset-y: -405px;
$pm-width: 118px;
$pm-height: 34px;
$pm-total-width: 571px;
$pm-total-height: 526px;
$pm-image: '../img/sprite.png';
$pm: (0px, 405px, 0px, -405px, 118px, 34px, 571px, 526px, '../img/sprite.png', 'pm', );
$pm30-name: 'pm30';
$pm30-x: 536px;
$pm30-y: 186px;
$pm30-offset-x: -536px;
$pm30-offset-y: -186px;
$pm30-width: 29px;
$pm30-height: 29px;
$pm30-total-width: 571px;
$pm30-total-height: 526px;
$pm30-image: '../img/sprite.png';
$pm30: (536px, 186px, -536px, -186px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'pm30', );
$s1-name: 's1';
$s1-x: 0px;
$s1-y: 0px;
$s1-offset-x: 0px;
$s1-offset-y: 0px;
$s1-width: 118px;
$s1-height: 198px;
$s1-total-width: 571px;
$s1-total-height: 526px;
$s1-image: '../img/sprite.png';
$s1: (0px, 0px, 0px, 0px, 118px, 198px, 571px, 526px, '../img/sprite.png', 's1', );
$s2-name: 's2';
$s2-x: 123px;
$s2-y: 0px;
$s2-offset-x: -123px;
$s2-offset-y: 0px;
$s2-width: 118px;
$s2-height: 160px;
$s2-total-width: 571px;
$s2-total-height: 526px;
$s2-image: '../img/sprite.png';
$s2: (123px, 0px, -123px, 0px, 118px, 160px, 571px, 526px, '../img/sprite.png', 's2', );
$s3-name: 's3';
$s3-x: 0px;
$s3-y: 203px;
$s3-offset-x: 0px;
$s3-offset-y: -203px;
$s3-width: 118px;
$s3-height: 160px;
$s3-total-width: 571px;
$s3-total-height: 526px;
$s3-image: '../img/sprite.png';
$s3: (0px, 203px, 0px, -203px, 118px, 160px, 571px, 526px, '../img/sprite.png', 's3', );
$s4-name: 's4';
$s4-x: 246px;
$s4-y: 0px;
$s4-offset-x: -246px;
$s4-offset-y: 0px;
$s4-width: 118px;
$s4-height: 160px;
$s4-total-width: 571px;
$s4-total-height: 526px;
$s4-image: '../img/sprite.png';
$s4: (246px, 0px, -246px, 0px, 118px, 160px, 571px, 526px, '../img/sprite.png', 's4', );
$speak-w-name: 'speak-w';
$speak-w-x: 470px;
$speak-w-y: 0px;
$speak-w-offset-x: -470px;
$speak-w-offset-y: 0px;
$speak-w-width: 61px;
$speak-w-height: 61px;
$speak-w-total-width: 571px;
$speak-w-total-height: 526px;
$speak-w-image: '../img/sprite.png';
$speak-w: (470px, 0px, -470px, 0px, 61px, 61px, 571px, 526px, '../img/sprite.png', 'speak-w', );
$st1-name: 'st1';
$st1-x: 536px;
$st1-y: 460px;
$st1-offset-x: -536px;
$st1-offset-y: -460px;
$st1-width: 28px;
$st1-height: 28px;
$st1-total-width: 571px;
$st1-total-height: 526px;
$st1-image: '../img/sprite.png';
$st1: (536px, 460px, -536px, -460px, 28px, 28px, 571px, 526px, '../img/sprite.png', 'st1', );
$st2-name: 'st2';
$st2-x: 536px;
$st2-y: 48px;
$st2-offset-x: -536px;
$st2-offset-y: -48px;
$st2-width: 30px;
$st2-height: 31px;
$st2-total-width: 571px;
$st2-total-height: 526px;
$st2-image: '../img/sprite.png';
$st2: (536px, 48px, -536px, -48px, 30px, 31px, 571px, 526px, '../img/sprite.png', 'st2', );
$st3-name: 'st3';
$st3-x: 536px;
$st3-y: 493px;
$st3-offset-x: -536px;
$st3-offset-y: -493px;
$st3-width: 26px;
$st3-height: 27px;
$st3-total-width: 571px;
$st3-total-height: 526px;
$st3-image: '../img/sprite.png';
$st3: (536px, 493px, -536px, -493px, 26px, 27px, 571px, 526px, '../img/sprite.png', 'st3', );
$st4-name: 'st4';
$st4-x: 536px;
$st4-y: 254px;
$st4-offset-x: -536px;
$st4-offset-y: -254px;
$st4-width: 29px;
$st4-height: 29px;
$st4-total-width: 571px;
$st4-total-height: 526px;
$st4-image: '../img/sprite.png';
$st4: (536px, 254px, -536px, -254px, 29px, 29px, 571px, 526px, '../img/sprite.png', 'st4', );
$st5-name: 'st5';
$st5-x: 536px;
$st5-y: 394px;
$st5-offset-x: -536px;
$st5-offset-y: -394px;
$st5-width: 29px;
$st5-height: 28px;
$st5-total-width: 571px;
$st5-total-height: 526px;
$st5-image: '../img/sprite.png';
$st5: (536px, 394px, -536px, -394px, 29px, 28px, 571px, 526px, '../img/sprite.png', 'st5', );
$team-o-name: 'team-o';
$team-o-x: 245px;
$team-o-y: 344px;
$team-o-offset-x: -245px;
$team-o-offset-y: -344px;
$team-o-width: 18px;
$team-o-height: 16px;
$team-o-total-width: 571px;
$team-o-total-height: 526px;
$team-o-image: '../img/sprite.png';
$team-o: (245px, 344px, -245px, -344px, 18px, 16px, 571px, 526px, '../img/sprite.png', 'team-o', );
$telegram-o-name: 'telegram-o';
$telegram-o-x: 221px;
$telegram-o-y: 344px;
$telegram-o-offset-x: -221px;
$telegram-o-offset-y: -344px;
$telegram-o-width: 19px;
$telegram-o-height: 16px;
$telegram-o-total-width: 571px;
$telegram-o-total-height: 526px;
$telegram-o-image: '../img/sprite.png';
$telegram-o: (221px, 344px, -221px, -344px, 19px, 16px, 571px, 526px, '../img/sprite.png', 'telegram-o', );
$user-b-w-c-name: 'user-b-w-c';
$user-b-w-c-x: 441px;
$user-b-w-c-y: 208px;
$user-b-w-c-offset-x: -441px;
$user-b-w-c-offset-y: -208px;
$user-b-w-c-width: 24px;
$user-b-w-c-height: 25px;
$user-b-w-c-total-width: 571px;
$user-b-w-c-total-height: 526px;
$user-b-w-c-image: '../img/sprite.png';
$user-b-w-c: (441px, 208px, -441px, -208px, 24px, 25px, 571px, 526px, '../img/sprite.png', 'user-b-w-c', );
$user-check-o-name: 'user-check-o';
$user-check-o-x: 437px;
$user-check-o-y: 302px;
$user-check-o-offset-x: -437px;
$user-check-o-offset-y: -302px;
$user-check-o-width: 22px;
$user-check-o-height: 24px;
$user-check-o-total-width: 571px;
$user-check-o-total-height: 526px;
$user-check-o-image: '../img/sprite.png';
$user-check-o: (437px, 302px, -437px, -302px, 22px, 24px, 571px, 526px, '../img/sprite.png', 'user-check-o', );
$user-i-o-name: 'user-i-o';
$user-i-o-x: 290px;
$user-i-o-y: 344px;
$user-i-o-offset-x: -290px;
$user-i-o-offset-y: -344px;
$user-i-o-width: 16px;
$user-i-o-height: 15px;
$user-i-o-total-width: 571px;
$user-i-o-total-height: 526px;
$user-i-o-image: '../img/sprite.png';
$user-i-o: (290px, 344px, -290px, -344px, 16px, 15px, 571px, 526px, '../img/sprite.png', 'user-i-o', );
$user-w-name: 'user-w';
$user-w-x: 518px;
$user-w-y: 387px;
$user-w-offset-x: -518px;
$user-w-offset-y: -387px;
$user-w-width: 12px;
$user-w-height: 15px;
$user-w-total-width: 571px;
$user-w-total-height: 526px;
$user-w-image: '../img/sprite.png';
$user-w: (518px, 387px, -518px, -387px, 12px, 15px, 571px, 526px, '../img/sprite.png', 'user-w', );
$spritesheet-width: 571px;
$spritesheet-height: 526px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($a1, $a2, $a3, $a4, $ab1, $ab2, $ab3, $ab4, $ab5, $ab6, $arrow-d-b-o, $arrow-d-b, $arrow-d-g, $bar-w, $btc-w, $btc, $btc30, $clock-b-o, $clock-o-ss, $clock-o, $clock-w, $cloud-i-o, $cm1, $cm2, $cm3, $cm4, $cm5, $cm6, $cm7, $cm8, $dash-w, $dash, $dash2, $dash30, $email-i-o, $email-o, $email-w, $eth-w, $eth, $eth30, $exit-o, $folder-i-o, $gear-o, $hand-b-o, $in1, $in2, $in3, $key-s-w, $keys-w, $ltc-w, $ltc, $ltc30, $mark-o, $minus-o, $mobile-o, $money-b-o, $pay-w, $pay, $payeer30, $phone-o, $phone-w, $play-w, $plus-o, $pm-w, $pm, $pm30, $s1, $s2, $s3, $s4, $speak-w, $st1, $st2, $st3, $st4, $st5, $team-o, $telegram-o, $user-b-w-c, $user-check-o, $user-i-o, $user-w, );
$spritesheet: (571px, 526px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
