<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
<link rel="manifest" href="favicons/site.webmanifest">
<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="libs/flag-icon/css/flag-icon.min.css">
<link rel="stylesheet" href="libs/ResponsiveTables/ng_responsive_tables.css">
<link rel="stylesheet" href="libs/bootstrap-sweetalert/sweetalert.css">
<link rel="stylesheet" href="libs/slick/slick.css">
<link rel="stylesheet" href="libs/slick/slick-theme.css">
<link rel="stylesheet" href="libs/fontawesome/css/all.min.css">
<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="libs/jQueryFormStyler/jquery.formstyler.css">
<link rel="stylesheet" href="libs/jQueryFormStyler/jquery.formstyler.theme.css">
<link rel="stylesheet" href="libs/liMarquee/liMarquee.css">
<link rel="stylesheet" href="libs/aos/aos.css">
<link rel="stylesheet" href="libs/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="libs/jquery-ui-1.12.1/jquery-ui.theme.min.css">
<link rel="stylesheet" href="libs/circliful/jquery.circliful.css">
<link rel="stylesheet" href="css/main.css">
